<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Semesters</title>
    <!-- Add Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">

    <h1 class="mt-5 mb-4">Course Semesters</h1>
    
    <% for (let thisSem of Object.keys(sems)) { %>
        <% let totalSemCredits = 0; %>

        <!-- Calculate total credits for lectures -->
        <% if (sems[thisSem].Lectures && sems[thisSem].Lectures.length > 0) { %>
            <% for (let i of Object.keys(sems[thisSem].Lectures)) { %>
                <% totalSemCredits += sems[thisSem].Lectures[i].credit; %>
            <% } %>
        <% } %>

        <!-- Calculate total credits for labs -->
        <% if (sems[thisSem].Labs && sems[thisSem].Labs.length > 0) { %>
            <% for (let i of Object.keys(sems[thisSem].Labs)) { %>
                <% totalSemCredits += sems[thisSem].Labs[i].credit; %>
            <% } %>
        <% } %>

        <!-- Calculate total credits for projects -->
        <% if (sems[thisSem].Project && sems[thisSem].Project.length > 0) { %>
            <% for (let i of Object.keys(sems[thisSem].Project)) { %>
                <% totalSemCredits += sems[thisSem].Project[i].credit; %>
            <% } %>
        <% } %>

        <div class="card mb-4">
            <div class="card-header">
                <h4 class="text-truncate text-center"><%= thisSem %> | <small class="fs-8"> Total Credits: <%= totalSemCredits %> </small> </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <!-- Lectures Column -->
                    <% if (sems[thisSem].Lectures && sems[thisSem].Lectures.length > 0) { %>
                        <div class="col">
                            <h5 class="card-title text-center">Lectures</h5>
                            <ul class="list-group">
                                <% for (let i of Object.keys(sems[thisSem].Lectures)) { %>
                                    <% let credit = sems[thisSem].Lectures[i].credit; %>
                                    <li class="list-group-item" style="background-color: rgba(0, 123, 255, <%= credit / 10 %>);">
                                        <div class="row">
                                            <div class="col-8 text-truncate">
                                                <%= sems[thisSem].Lectures[i].name %>
                                            </div>
                                            <div class="col-4 text-end">
                                                <small class="fs-8 text-muted">Credits: <%= credit %></small>
                                            </div>
                                        </div>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>

                    <!-- Labs Column -->
                    <% if (sems[thisSem].Labs && sems[thisSem].Labs.length > 0) { %>
                        <div class="col">
                            <h5 class="card-title text-center">Labs</h5>
                            <ul class="list-group">
                                <% for (let i of Object.keys(sems[thisSem].Labs)) { %>
                                    <% let credit = sems[thisSem].Labs[i].credit; %>
                                    <li class="list-group-item" style="background-color: rgba(0, 123, 255, <%= credit / 10 %>);">
                                        <div class="row">
                                            <div class="col-8 text-truncate">
                                                <%= sems[thisSem].Labs[i].name %>
                                            </div>
                                            <div class="col-4 text-end">
                                                <small class="fs-8 text-muted">Credits: <%= credit %></small>
                                            </div>
                                        </div>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>

                    <!-- Project Column -->
                    <% if (sems[thisSem].Project && sems[thisSem].Project.length > 0) { %>
                        <div class="col">
                            <h5 class="card-title text-center">Project</h5>
                            <ul class="list-group">
                                <% for (let i of Object.keys(sems[thisSem].Project)) { %>
                                    <% let credit = sems[thisSem].Project[i].credit; %>
                                    <li class="list-group-item" style="background-color: rgba(0, 123, 255, <%= credit / 10 %>);">
                                        <div class="row">
                                            <div class="col-8 text-truncate">
                                                <%= sems[thisSem].Project[i].name %>
                                            </div>
                                            <div class="col-4 text-end">
                                                <small class="fs-8 text-muted">Credits: <%= credit %></small>
                                            </div>
                                        </div>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
